<app-header></app-header>

<div class="admin-container mt-5">
  <div class="row w-100 justify-content-center">
    <a
      routerLink="/admin/employees"
      class="col-md-3 mt-5 admin-card d-flex align-items-center justify-content-center flex-column"
      style="margin-right: 10px"
    >
      <img src="../../../assets/personal-information.png" />
      <p>25 Employees</p>
    </a>
    <a
      routerLink="/admin/leave-requests"
      style="margin-left: 10px"
      class="col-md-3 mt-5 admin-card d-flex align-items-center justify-content-center flex-column"
    >
      <img src="../../../assets/leave.png" />
      <p>30 Leave Requests</p>
    </a>
  </div>
</div>

<app-footer></app-footer>
